# Maven build output
/target/*

# !Caution - 반드시 확인 후 커밋할 것
# Keep JaCoCo site report tracked
!/target/site/
!/target/site/**

# !Caution - 반드시 확인 후 커밋할 것
# Keep error message while reproducing crashes
!/target/surefire-reports/
!/target/surefire-reports/**

# Java compiled files
*.class

# Logs
*.log

# Package files
*.jar
*.war
*.ear

# JVM crash logs
hs_err_pid*
replay_pid*

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS files
.DS_Store
Thumbs.db
